
// set your custom colors here
$siteBgColorCustom: #FFFFFF;
$sidebarBgColorCustom: #FFFFFF;
$textColorCustom: #000000;
$sidebarTextColorCustom: #000000;

$headlineColorCustom: #000000;
$headingColorCustom: #000000;

$bodyLinkColorCustom: #000000;
$navLinkColorCustom: #000000;
$sidebarLinkColorCustom: #000000;

$footerTextColorCustom: #000000;

$buttonTextColorCustom: #F7F7F4;
$buttonHoverTextColorCustom: #000000;

$buttonBgColorCustom: #899D78;
$buttonHoverBgColorCustom: #6F825E;

$borderColorCustom: #000000;
